@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root{
    --redJurassic:#8b0000;
    --amber:#ced02d;
    --greenWater:#00919c;
    --white:#faebd7;
    --obsidian: #000000;
}




html{
    width: 100%;
    height: auto;
    font-family: "Zen Tokyo Zoo", system-ui;
    font-weight: 200;
}


body{
    height: 100%;
    width: auto;
    background: var(--obsidian);
    color: var(--white);
}

#menuBar{
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: #0000004a;
    position:fixed;
    left:0%;
    top:0%;
}

#logo{
    background: none;
}

.but{
    margin:10px;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 20px;
    background: #303030f4 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lab{
    font-size:medium;
    display: none;
}

#dinos{
    animation-name: degrow;
    animation-duration: 400ms;
}

#dinosPage{
    background: none;
    border: none;
}

#dinos:hover{
    animation-name: grow;
    animation-duration: 400ms;
    background:var(--redJurassic);
    cursor: url("./img/hand\ \(1\).png"), auto;
}

#gadgets:not(:hover){
    animation-name: degrow;
    animation-duration: 400ms;
}

#gadgets:hover{
    animation-name: grow;
    animation-duration: 400ms;
    background:var(--redJurassic);
    cursor: url("./img/hand\ \(1\).png"), auto;
}

#aboutUs:not(:hover){
    animation-name: degrow;
    animation-duration: 400ms;
}

#aboutUs:hover{
    animation-name: grow;
    animation-duration: 400ms;
    background:var(--redJurassic);
    cursor: url("./img/hand\ \(1\).png"), auto;
}

#dinos:hover #lab1{
    animation-name: revisible;
    animation-duration: 400ms;
    display: block;
    opacity: 0%;
    animation-fill-mode: forwards;
}


#gadgets:hover #lab2{
    animation-name: revisible;
    animation-duration: 400ms;
    display: block;
    opacity: 0%;
    animation-fill-mode: forwards;
}

#aboutUs:hover #lab3{
    animation-name: revisible;
    animation-duration: 400ms;
    display: block;
    opacity: 0%;
    animation-fill-mode: forwards;

}


@keyframes grow{
    25%{
        transform: scale(1, 1.02);
    }
    50%{
        transform: scale(1, 1.05);
    }
    75%{
        transform: scale(1, 1.03);
    }
    100%{
        transform: scale(1, 1);
    }
}



@keyframes revisible{
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}


#mrdna{
    position: fixed;
    right: 10px;
}

a{
    text-decoration: none;
    color: var(--redJurassic);
}






#content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0%;
}



#footer{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:100%;
    height:auto;
    padding:10px;
    margin:10px;
    margin-top:200px;
    backdrop-filter: blur(10px);
}


#socials{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    height:auto;
}

.socialIcon{
    width:40px;
    height:auto;
    border-radius:20px;
    margin:20px;
    margin-right:100px;
    text-align:center;
    padding:10px;
    background: #303030f4 ;
}


#contacts{
    display:flex;
    flex-direction:column;
    align-items:flexx-start;
    width:auto;
    height:auto;
    margin:10px;
}
#address{
    margin:10px;
}

#instagram:hover{
    animation-name: colorInsta;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

#facebook:hover{
    animation-name: colorFace;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#tiktok:hover{
    animation-name: colorTik;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes colorInsta{


    0%{
        background:linear-gradient(to bottom left,black, #303030f4 );
   }

   50%{
       background: linear-gradient(to bottom left, #000074, #60006D, #A00058, #C80A3D,#DD3120, #DD6600,#D49800 );
   }

   100%{
       background: linear-gradient(to bottom left, #002296, #82008f, #C0007A, #EA0C5F,#FF5341, #FF8820,#F6BA00 );
   }
}


@keyframes colorFace{
    from{
        background:#303030f4 ;
    }
    to{
        background: #1877F2;
    }
}

@keyframes colorTik{
    from{
    }
    to{
        background: var(--obsidian);
        filter: drop-shadow(-2px -2px 0px #69C9D0) drop-shadow(2px 2px #EE1D52 );
    }
}



h1{
    font-weight: 1;
}


h2{
    font-weight: 1;
}


h3{
    font-weight: 1;
}

