@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root{
    --redJurassic:#8b0000;
    --amber:#ced02d;
    --greenWater:#00919c;
    --white:#faebd7;
    --obsidian: #000000;
}




html{
    width: 100%;
    height: auto;
    font-family: "Zen Tokyo Zoo", system-ui;
    font-weight: 400;
}


body{
    height: 100%;
    width: auto;
    background: var(--obsidian);
    color: var(--white);
}

#menuBar{
    backdrop-filter: blur(4px);
    border-radius: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}

#logo{
    background: none;
}

.but{
    margin:10px;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 20px;
    background: #303030f4 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lab{
    font-size: large;
    display: none;
}

#dinos:hover #lab1{
    display: block;
}


#gadgets:hover #lab2{
    display: block;
}

#aboutUs:hover #lab3{
    display: block;
}

a{
    text-decoration: none;
    color: var(--redJurassic);
}