#contentG{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#formSubscribe {
    display: grid ;
    grid-template-columns: auto auto;
}

#gender{
    display: flex;
    flex-direction:column ;
}
