#contentG{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:350px;
}

#formSubscribe {
    display: grid ;
    column-gap: 10px;
    grid-template-columns: auto auto;
}

#answerSubscribe{
    visibility:hidden;
    display: grid ;
    column-gap: 10px;
    grid-template-columns: auto auto;
}

#gender{
    display: grid ;
    column-gap: 5px;
    grid-template-columns: auto auto;
}

