@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root{
    --redJurassic:#8b0000;
    --amber:#ced02d;
    --greenWater:#00919c;
    --white:#faebd7;
    --obsidian: #000000;
}



#content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0%;
}

.containerImage{
    width: 100%;
    height: auto;
}

#menuBar{
    z-index: 1;
}

#presentationImage{
    width: 100%;
    height: auto;
    visibility: 50%;
}

#subtitle{
    color: transparent;
    background: linear-gradient(to right,var(--redJurassic), var(--amber));
    background-clip: text;

}

h1{
    font-weight: 1;
}

p{
    justify-content: center;
    font-weight: 1;
    margin: 10px;
}

#descLoc{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


#pianta{
    margin: 10px;
}

#footer{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:100%;
    height:auto;
    padding:10px;
    margin-top:40px;
    opacity:20%;
    backdrop-filter: blur(10px);
}


#socials{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    height:auto;
}

.socialIcon{
    width:40px;
    height:auto;
    border-radius:20px;
    margin:20px;
    margin-right:100px;
    text-align:center;
    padding:10px;
    background: #303030f4 ;
}


#contacts{
    display:flex;
    flex-direction:column;
    align-items:flexx-start;
    width:auto;
    height:auto;
}
