
#content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.containerImage{
    width: auto;
    height: auto;
}

#menuBar{
    z-index: 1;
}

#presentationImage{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    visibility: 50%;
}
h1{
    z-index: 0;
}


p{
    z-index: 0;
}