@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root{
    --redJurassic:#8b0000;
    --amber:#ced02d;
    --greenWater:#00919c;
    --white:#faebd7;
    --obsidian: #000000;
}



.containerImage{
    width: 100%;
    height: auto;
}

#menuBar{
    z-index: 1;
}

#presentationImage{
    width: 100%;
    height: auto;
    visibility: 50%;
}

#subtitle{
    color: transparent;
    background: linear-gradient(to right,var(--redJurassic), var(--amber));
    background-clip: text;
    font-size: xxx-large;

}

h1{
    font-weight: 1;
}


p{
    justify-content: center;
    font-weight: 1;
    margin: 50px;
    font-size: x-large;
}

#descLoc{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


#pianta{
    margin: 10px;
    margin-left: 50px;
}
